{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "exclude": [
    "dist/*",
    "docs/*",
    "html_docs/*",
    "typedoc-wide-theme/*",
    "test/*",
    "lib/av_client/sjcl.js",
    "demo/*"
  ]
}
