version: 2.1
orbs:
  node: circleci/node@7.2.1
executors:
  node24:
    docker:
      - image: cimg/node:24.14.0
jobs:
  lint_test_build:
    executor:
      name: node24
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-
      - node/install-yarn
      - run: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - ./node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn run lint
      - run: yarn run coverage
      - run: yarn run build
      - run: yarn pack
      - persist_to_workspace:
          root: /home/circleci/project
          paths:
            - ./assemblyvoting-js-client-*.tgz
  publish:
    executor:
      name: node24
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Move files
          command: |
            mv /tmp/workspace/assemblyvoting-js-client-*.tgz ./
      - run:
          name: Set npm access token
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run:
          name: Publish to NPM
          command: |
            package_file=$(ls assemblyvoting-js-client-*.tgz)
            if echo "${package_file}" | grep -E "alpha|beta" > /dev/null; then
              prerelease=$(echo "${package_file}" | grep -E -o "alpha|beta")
              echo "Publishing prerelease with tag ${prerelease} to NPM"
              npm publish ${package_file} --tag ${prerelease}
            else
              echo "Publishing release with to NPM"
              npm publish ${package_file}
            fi
workflows:
  build_and_deploy:
    jobs:
      - lint_test_build:
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v.*/
      - publish:
          requires:
            - lint_test_build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
